*.bat
*.tar
*.gz

*.pydevproject
.project
*.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

Thumbs.db
Desktop.ini
/package.xml
